/.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nuevfront/node_modules
/nuevfront/.pnp
/nuevfront/.pnp.js

# testing
/nuevfront/coverage

# production
/nuevfront/build

# misc
/nuevfront/.DS_Store
/nuevfront/.env.local
/nuevfront/.env.development.local
/nuevfront/.env.test.local
/nuevfront/.env.production.local

/nuevfront/npm-debug.log*
/nuevfront/yarn-debug.log*
/nuevfront/yarn-error.log*
